* {
  margin: 0;
  padding: 0;
}

.container {
  text-align: center;
}

.container div {
  padding: 15px;
  font-size: 32px;
  font-family: Helvetica;
  font-weight: bold;
  color: white;
}

.header {
  background-color: #393f4d;
}

.menu ul,
.menu li {
  font-size: 16px;
}

.sidebar {
  background-color: #FF7755;
}

.sidebar .photo {
  background-color: white;
  color: black;
  font-size: 12px;
  font-weight: normal;
  border-radius: 10px;
}


.sidebar .side-content {
  background-color: white;
  color: black;
  font-size: 16px;
  font-weight: normal;
}

.nav {
  background-color: #FF7755;
}

.nav ul li {
  font-size: 16px;
  text-transform: uppercase;
}

.article {
  background-color: #bccbde;
}

.article p {
  font-size: 18px;
  font-family: sans-serif;
  color: white;
  text-align: left;
}

.article .card {
  background-color: #FFFFFF;
  color: black;
  text-align: center;
}

.card p {
  color: black;
  font-weight: normal;
  font-size: 14px;
}

.card .title {
  font-size: 18px;
  text-align: center;
}

.footer {
  background-color: #393f4d;
}

.footer p {
  font-size: 13px;
  font-weight: normal;  
}

/* solution */

.container{
  display: grid;
  grid-gap: 4px;
  grid-template-rows: 15% 10% 75% 10%;
  grid-template-columns: 20% 80%;
}
.header{
  grid-column: 1 / span 2;

}
.header{
  display: grid;
  grid-template-columns: 30% 70% ;
}

.logo{
  grid-column: 1;
}
.menu{
  grid-column: 2;
}
.header-list{
  display: grid;
  grid-template-columns: 25% 25% 25% 25%;
}
.nav-list{
  display: grid;
  grid-template-columns: 33% 33% 33%;
}
.sidebar{
  grid-row: 2 / 5;
  display: grid;
  grid-gap: 50px;
  grid-template-rows: 25% 25% 25% 25% ;
}
.article{
  grid-area: 3 / 2 / 5 / 3 ;
  display: grid;
  grid-gap: 15px;
  /* grid-template-columns: 33% 33% 33% ;
  grid-template-rows: 25% 25% 25% 25% ; */
  grid-template-columns: repeat( auto-fit, minmax(250px, 1fr) );
}
.article .card{
  height: 200px;
}

ul{
  list-style-type: none;
}
.footer{
  grid-column: 1/ 3;
} 